
<footer class="footer hidden-xs">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <ul class="social-icons">
            <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3"> <!--col-sm-push-1 -->
          <h3 class="section-title">Como funciona</h3>
          <ul>
            <li><a href="#">Políticas de uso</a></li>
            <li><a href="#">Consumidor</a></li>
            <li><a href="#">Parceiro</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <h3 class="section-title">Contato</h3>
          <ul>
            <li><a href="#">contato@maisuma.com.br</a></li>
            <li><a href="#">+5553999485494</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <h3 class="section-title">Parceiro</h3>
          <ul>
            <li><a href="#">Acesso</a></li>
            <li><a href="#">Dúvidas</a></li>
            <li><a href="#">Cobertura</a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</footer>
